<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy.Control Home Automation web application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rajdhani:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">easy.<span class="accent">control</span></div>
            <div class="login-btn">log in</div.
        </div>
    </header>
    <div>

    </div>
    <main>
        <div class="container">
            <div class="your-device">
                <h2>your devices</h2>
                <hr>
                <div class="devices"></div>
            </div>
            <div class="add-device">
                <h2>add devices</h2>
                <hr>
                <form action="">
                    <label>Device</label>
                    <br>
                    <input id="device-name" type="text" placeholder="Enter your device here">

                    <label>Room</label>
                    <br>
                    <input id="device-room" type="text" placeholder="Enter the room here">

                    <label>MAC Address of Device</label>
                    <br>
                    <input id="device" type="text" placeholder="Enter MAC Address of Device">

                    <label>Something</label>
                    <br>
                    <input type="text" placeholder="Enter Something here">

                    <button>Add Device</button>


                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>This project is build by: Ashutosh Raghuwanshi, Avani Shrivastava, Devendra Patidar</p>
        </div>
    </footer>
    <script>
        const devices = document.querySelector('.devices')
let deviceList = []

// rendering function which renders the data of API on display
function render() {
    let renderDevices = ''
    deviceList.forEach(i => {
        if (i.device_status) {
            renderDevices += `
            <div class="device-tile-on device-tile" id="${i.id}">
                <h3>${i.device_name}</h3>
                <h4>${i.device_room}</h4>
                <div class="toggle-switch">
                    <div class="toggler"></div>
                </div>
            </div>
            `
        } else {
            renderDevices += `
            <div class="device-tile-off device-tile" id="${i.id}">
                <h3>${i.device_name}</h3>
                <h4>${i.device_room}</h4>
                <div class="toggle-switch">
                    <div class="toggler"></div>
                </div>
            </div>
            `
        }
    });
    devices.innerHTML = renderDevices
}

// function for updating the value in API and posting and fetching data from API

function main() {
    // fetching the list of devices
    fetch('https://easy---control.herokuapp.com/deviceapi/DeviceApi/')
        .then(response => response.json())
        .then(data => {
            deviceList = data
            console.log(deviceList)
            render()

            const toggleSwitch = document.querySelectorAll('.toggle-switch')
            toggleSwitch.forEach(e => {
                e.addEventListener('click', function() {
                    const renderID = (e.parentElement.id)
                    const current = deviceList[renderID - 1]
                    const update = {
                        id: current.id,
                        device_id: current.device_id,
                        device_name: current.device_name,
                        device_room: current.device_room,
                        device_status: current.device_status ? 0 : 1,
                    }

                    let url = `https://easy---control.herokuapp.com/deviceapi/DeviceApi/${renderID}/`
                    fetch(url, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(update),
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data)
                            main()
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                })
            })
        })
}

main()

setInterval(() => {
    fetch('https://easy---control.herokuapp.com/deviceapi/DeviceApi/')
        .then(response => response.json())
        .then(data => {
            for (let i = 0; i < data.length; i++) {
                if (data[i].device_status != deviceList[i].device_status) {
                    main()
                }
            }
        })
}, 5000);



// login form

const loginBtn = document.querySelector('.login-btn')
const overlay = document.querySelector('.overlay')
loginBtn.addEventListener('click', function() {
    overlay.style.display = "flex"
})

const closeBtn = document.querySelector('.close-btn')
closeBtn.addEventListener('click', function() {
    overlay.style.display = "none"
})
    </script>
</body>

</html>
